extends ../includes/layouts/app-layout

block content
  .pagetitle
    h1=title
  .row.py-4
    .col-lg-7
      include ../includes/components/dashboard/transaction-history
    .col-lg-5
      if marketValues.ethereum !== null
        include ../includes/components/dashboard/wallets
      else
        | An error has occurred.