extends ../includes/layouts/app-layout

block content
  section.section.profile
    .row
      .col-lg
        .card
          .card-body.pt-3
            ul.nav.nav-tabs.nav-tabs-bordered
              li.nav-item
                button.nav-link.active(data-bs-toggle='tab' data-bs-target='#profile-overview') Overview
              li.nav-item
                button.nav-link(data-bs-toggle='tab' data-bs-target='#profile-payment') Payment
              if user.phoneConfirmed
                li.nav-item
                  button.nav-link(data-bs-toggle='tab' data-bs-target='#profile-settings') Settings
              li.nav-item
                button.nav-link(data-bs-toggle='tab' data-bs-target='#profile-change-password') Change Password
            .tab-content.pt-2
              include ../includes/components/profile/overview
              if user.phoneConfirmed
                include ../includes/components/profile/settings
              include ../includes/components/profile/payment
              include ../includes/components/profile/change-password