.col-12
  .card.recent-transactions
    .card-body.color-text
      h5.card-title.color-text
        | Transaction history&nbsp;
        span
          a(href='/transaction-history') | &nbsp;See more
      if transactions.length
        table.table.table-borderless.color-text
          thead
            tr
              th(scope='col') Date
              th(scope='col') Wallet
              th(scope='col') Type
              th(scope='col') Amount
          tbody
            each transaction, index in transactions
              tr
                td #{transaction.date}
                td #{transaction.wallet}
                td
                  case transaction.type
                    when "add"
                      | Added funds
                    when 'withdraw'
                      | Withdrew funds
                    when 'buy'
                      | Bought crypto
                    when 'sell'
                      | Sold crypto
                    when 'transfer'
                      | Received crypto
                td
                  if transaction.wallet === 'USD'
                    | #{transaction.amount.toFixed(2)} $
                  else
                    | #{transaction.amount}
      else
        | No transaction yet.