#profile-change-password.tab-pane.fade.pt-3
  form(action='/profile/change-password' method='POST')
    .row.mb-3
      label.col-md-5.col-lg-4.col-form-label(for='password') Current Password
      .col-md-5.col-lg-4
        input#password.form-control(name='password' type='password')
    .row.mb-3
      label.col-md-5.col-lg-4.col-form-label(for='newPassword') New Password
      .col-md-5.col-lg-4
        input#newPassword.form-control(name='newPassword' type='password')
    .row.mb-3
      .col-md-4
      .col-md-4.d-flex.justify-content-end
        button.btn.btn-warning.w-100(type='submit') Change Password