extends dependecies
include ../components/global/mixins

block layout
  .container
    section.section.register.min-vh-100.d-flex.flex-column.align-items-center.justify-content-center.py-4
      .container
        .row.justify-content-center
          .col-lg-5.col-md-6.d-flex.flex-column.align-items-center.justify-content-center
            .card.mb-3
              .card-body.p-4
                block content